<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="blog/layout" th:with="title='关于 |',active='about'">
<header th:replace="blog/layout::headerFragment(${title},${active})"></header>
<body>
<div layout:fragment="content">
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <div class="post-block page" style="opacity: 1; display: block;">
                    <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h1 class="post-title" itemprop="name headline">关于博主</h1>
                    </header>
                    <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h2>介绍</h2>
                        <blockquote>
                            <div>
                                KyrieCao，博主，就读于湖南郴州某某专科学校，现就职于广州某某公司实习，从事开发工作，喜欢JAVA开发，同时也喜欢Web开发， 励志两年后成为一名合格的全栈开发工程师。
                            </div>
                        </blockquote>
                        <h2>技能标签</h2>
                        <ul>
                            <li>
                                <h4>后端</h4>
                                <blockquote>
                                    <div>
                                        JAVA、PHP、Python
                                        <br>
                                        Spring、SpringMVC、SpringBoot、MyBatis
                                        <br>
                                        MySQL、Redis、JSP、Thymeleaf
                                        <br>
                                        Linux、Apache、Nginx
                                    </div>
                                </blockquote>
                            </li>
                            <li>
                                <h4>前端</h4>
                                <blockquote>
                                    <div>
                                        HTML5、CSS3、Javascript
                                        <br>
                                        JQuery、Vue、Bootstrap、ElementUI
                                    </div>
                                </blockquote>
                            </li>
                        </ul>
                        <h2>个人爱好</h2>
                        <blockquote>
                            <div>
                                没什么特别的爱好，看看NBA，打打篮球，关注一下体育比赛，平时看看技术论坛。
                            </div>
                        </blockquote>
                        <h2>联系</h2>
                        <ul>
                            <li>QQ：864655735</li>
                            <li>邮箱：KyrieCao@163.com</li>
                            <th:block th:each="index : ${commons.social()}">
                                <th:block th:if="${index.value} != null and ${index.value} != ''">
                                    <th:block th:switch="${index.key}">
                                        <th:block th:case="'github'">
                                            <li>GitHub：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'jianshu'">
                                            <li>简书：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'zhihu'">
                                            <li>知乎：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'csdn'">
                                            <li>CSDN：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'resume'">
                                            <li>简历：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <li>博客园：<a href="http://www.cnblogs.com/KyrieCao/" target="_blank">http://www.cnblogs.com/KyrieCao/</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>